#! Python3.7

numpy<2                         # Installing NumPy, a package for scientific computing

# PaddlePaddle 2.6.2 from PyPi is for CUDA 11.8 only.
paddlepaddle-gpu==2.6.2         # Installing PaddlePaddle, Parallel Distributed Deep Learning
paddleocr==2.7.0.3              # Installing PaddleOCR, the OCR toolkit based on PaddlePaddle

imutils                         # Installing imutils, the image utilities library
opencv-python                   # Installing OpenCV, the Computer Vision library for Python

CodeProject-AI-SDK              # Installing the CodeProject.AI SDK

# end of file
