#! Python3.7

numpy<2                         # Installing NumPy, a package for scientific computing

paddlepaddle-gpu                # Installing PaddlePaddle, Parallel Distributed Deep Learning
paddleocr                       # Installing PaddleOCR, the OCR toolkit based on PaddlePaddle

imutils                         # Installing imutils, the image utilities library

CodeProject-AI-SDK              # Installing the CodeProject.AI SDK

# end of file